@import "pages/index";
@import "pages/home";
@import "pages/statistics";
@import "components/navigation";
@import "components/return";

body {
  margin: 0;
  background: #161823;
}

@font-face {
  font-family: Lato;
  src: url('./fonts/lato.ttf');
}
@font-face {
  font-family: LatoLight;
  src: url('./fonts/Lato-Light.ttf');
}

.slide-leave-active,
.slide-enter-active {
  transition: 0.2s;
}
.slide-enter {
  transform: translate(100%, 0);
}
.slide-leave-to {
  transform: translate(-100%, 0);
}

