.navigation--wrapper {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  background: #0E0F1A;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding: 0 20px;
  box-sizing: border-box;
  &__icon {
    cursor: pointer;
    path {
      fill: rgba(255, 255, 255, 0.3);
    }
  }
}
.active {
  path {
    fill: #fff;
  }
}
