<template>
  <div class="navigation--wrapper">
    <!-- Profile -->
    <svg class="navigation--wrapper__icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20.001">
      <path id="Icon" d="M1592,1212.5c-3.337,0-10,1.675-10,5v2.5h20v-2.5c0-3.325-6.662-5-10-5m0-12.5a5,5,0,1,0,5,5,5,5,0,0,0-5-5" transform="translate(-1582 -1200)"/>
    </svg>
    <!-- Statistics -->
    <router-link :to="{path: '/statistics'}">
      <svg class="navigation--wrapper__icon" :class="{'active' : this.$route.path === '/statistics'}" id="Icon" xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 17 17">
        <path id="Icon-2" data-name="Icon" d="M1402.374,1216.251v-5.713h5.877v4.742a.972.972,0,0,1-.971.971Zm-1.749-13.5v6.041h-5.877v-5.07a.972.972,0,0,1,.972-.971Zm-7.625.194v13.115a1.942,1.942,0,0,0,1.943,1.942h13.115a1.942,1.942,0,0,0,1.943-1.942v-13.115a1.943,1.943,0,0,0-1.943-1.943h-13.115a1.943,1.943,0,0,0-1.943,1.943Z" transform="translate(-1393 -1201)"/>
      </svg>
    </router-link>
    <!-- Notifications -->
    <svg class="navigation--wrapper__icon" xmlns="http://www.w3.org/2000/svg" width="17" height="21" viewBox="0 0 17.024 21">
      <path id="Icon" d="M1660.579,1217.846h0m0,0h-4.256a2.128,2.128,0,1,0,4.256,0M1658.451,1199a1.6,1.6,0,0,0-1.6,1.615v.732c-3.054.733-4.788,3.489-4.788,6.806v5.384l-2.128,2.154v1.076h17.024v-1.076l-2.128-2.154v-5.384c0-3.306-1.745-6.073-4.788-6.806v-.732a1.6,1.6,0,0,0-1.6-1.615" transform="translate(-1649.939 -1199)"/>
    </svg>
    <!-- Favourites -->
    <svg class="navigation--wrapper__icon" xmlns="http://www.w3.org/2000/svg" width="15" height="20" viewBox="0 0 15 20">
      <path id="Icon" d="M1465.512,1213.4l-3.472,5.378a2.166,2.166,0,0,1-2.7.832h0a2.275,2.275,0,0,1-1.341-2.092v-15.911a1.809,1.809,0,0,1,1.8-1.814h11.4a1.809,1.809,0,0,1,1.8,1.814V1217.5a2.275,2.275,0,0,1-1.34,2.091h0a2.167,2.167,0,0,1-2.7-.833Z" transform="translate(-1458 -1199.797)"/>
    </svg>
    <!-- Home -->
    <router-link :to="{path: '/'}">
      <svg class="navigation--wrapper__icon" :class="{'active' : this.$route.path === '/'}" xmlns="http://www.w3.org/2000/svg" width="18" height="20" viewBox="0 0 18 19.943">
        <path id="icon" d="M1540,1219h-14a2.009,2.009,0,0,1-2-2.017v-10.634a2.023,2.023,0,0,1,.838-1.642l7.581-5.462a.993.993,0,0,1,1.162,0l7.581,5.462a2.023,2.023,0,0,1,.838,1.642v10.634a2.008,2.008,0,0,1-2,2.017" transform="translate(-1524 -1199.058)"/>
      </svg>
    </router-link>
  </div>
</template>
<script>
export default {
  name: 'navigation'
}
</script>
