<template>
  <div class="return--wrapper" @click="$router.go(-1)">
    <svg style="cursor: pointer;" xmlns="http://www.w3.org/2000/svg" width="9" height="17" viewBox="0 0 8.883 16.934">
      <path id="Arrow" d="M249.74,369.531l6.908-7.174a.779.779,0,0,0,0-1.072.711.711,0,0,0-1.032,0L248.193,369a.778.778,0,0,0,0,1.071l7.424,7.709a.712.712,0,0,0,1.032,0,.779.779,0,0,0,0-1.072Z" transform="translate(-247.979 -361.064)" fill="#fff"/>
    </svg>
  </div>
</template>
<script>
export default {
  name: 'return'
}
</script>
