<template>
  <div class="home--wrapper">
    <return></return>
    <div class="home--wrapper__description">
      <div class="description--background">
        <div class="description--background__cross-line">
          <img src="./../../static/images/photos/cross.svg" class="cross-line__image">
        </div>
      </div>
      <div class="description--wrapper">
        <h1 class="description--wrapper__heading">
          Who are you and why you’re standing here?
        </h1>
        <p class="description--wrapper__text">
          It doesn't matter if you're building the next Facebook, or if you're the director of marketing for an industrial company.
        </p>
        <div class="description-author--wrapper">
          <p class="description-author--wrapper__text">By <b>Nocholas O`Brian</b></p>
          <p class="description-author--wrapper__text"><b>28 July</b></p>
        </div>
        <div class="description-liked--wrapper">
          <img src="./../../static/images/photos/Userpic.png" class="description-liked--wrapper__user">
          <img src="./../../static/images/photos/Userpic1.png" class="description-liked--wrapper__user">
          <div class="description-liked--wrapper__counter">+76</div>
          <p class="description-liked--wrapper__text">Liked this</p>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'home'
}
</script>
