<template>
  <div class="statistics--wrapper">
    <return></return>
    <div class="statistics--wrapper__info-bar">
      <div class="info-bar">
        <h1 class="info-bar--title">Statistics</h1>
        <img src="./../../static/images/icons/statistics.svg" class="info-bar--icon">
      </div>
    </div>
    <div class="statistics--wrapper__month-carousel">
      <div class="month-carousel--month" v-for="month in months" @click="reloadDiagram(month)" :class="{'month-carousel--active' : activeMonth === month}">{{ month }}</div>
    </div>
    <div class="statistics--wrapper__diagram">
      <vc-donut class="mt-5"
        background="#161823" foreground="#0E0F1A"
        :size="220" unit="px" :thickness="20"
        :sections="sections" :total="100"
        :start-angle="0" @section-click="handleSectionClick">
        <h1 style="color: white;line-height: 30px" class="m-0">
          ${{ balance }} <br>
          <span style="font-size: 16px;color: #acacac">
            balance
          </span>
        </h1>
      </vc-donut>
      <div class="diagram--information" v-if="isClickedPiece">
        <div class="information--cash">
          <img src="./../../static/images/icons/food.svg" class="information--cash__image">
          <p class="information--cash__text">${{piecePrice}}</p>
        </div>
        <p class="information--details">{{pieceInfo}}</p>
      </div>
    </div>
    <div class="statistics--wrapper__buttons">
      <div class="buttons--wrapper buttons--wrapper__add" @click="changeBalance(0)">+$50
        <svg class="buttons--wrapper__image" xmlns="http://www.w3.org/2000/svg" width="14.846" height="7.854" viewBox="0 0 14.846 7.854">
          <path id="Icon" d="M1397.085,1273.715l-.629-.662-3,3.157a.951.951,0,0,1-1.39,0l-3.037-3.2-3.3,3.47a.948.948,0,0,1-1.389,0,1.069,1.069,0,0,1,0-1.46l3.993-4.2a.948.948,0,0,1,1.389,0l3.038,3.195,2.307-2.426-.717-.753a.51.51,0,0,1,.213-.837l3.736-1.052a.487.487,0,0,1,.581.612l-1,3.931a.466.466,0,0,1-.794.223" transform="translate(-1384.051 -1268.933)" fill="#0B78E3"/>
        </svg>
      </div>
      <div class="buttons--wrapper buttons--wrapper__remove" @click="changeBalance(1)">
        -$50
        <svg class="buttons--wrapper__image" xmlns="http://www.w3.org/2000/svg" width="14.847" height="7.934" viewBox="0 0 14.847 7.934">
          <path id="Icon" d="M1446.339,1269.264a1.091,1.091,0,0,0,0,1.476l3.995,4.243a.94.94,0,0,0,1.388,0l3.039-3.228,2.307,2.451-.717.76a.516.516,0,0,0,.214.843l3.736,1.065a.489.489,0,0,0,.581-.618l-1-3.971a.465.465,0,0,0-.795-.225l-.629.668-3-3.187a.941.941,0,0,0-1.389,0l-3.039,3.228-3.3-3.505a.943.943,0,0,0-1.389,0Z" transform="translate(-1446.051 -1268.959)" fill="#FF2366"/>
        </svg>
      </div>
    </div>
  </div>
</template>
<script>
import LocalStorageMixin from '../scripts/localStorageMixin'
export default {
  name: 'statistics',
  data () {
    return {
      months: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
      activeMonth: 'January',
      statData: JSON.parse(localStorage.getItem('userData')),
      sections: [],
      balance: null,
      piecePrice: null,
      pieceInfo: null,
      isClickedPiece: false
    }
  },
  mixins: [LocalStorageMixin],
  methods: {
    reloadDiagram: function (m) {
      this.activeMonth = m
      this.statData.forEach((month) => {
        if (month.monthName === this.activeMonth) {
          this.sections = month.data
          this.balance = null
          this.sections.forEach((unit) => {
            this.balance += parseInt(unit.price)
          })
        }
        month.data.forEach((unit) => {
          unit.value = (parseInt(unit.price) / this.balance) * 100
        })
      })
      this.isClickedPiece = false
    },
    handleSectionClick: function (section) {
      if (!this.isClickedPiece) {
        this.pieceInfo = section.label
        this.piecePrice = section.price
        this.isClickedPiece = true
      } else {
        this.pieceInfo = section.label
        this.piecePrice = section.price
      }
    },
    changeBalance: function (operation) {
      let operationCount = 50
      if (this.pieceInfo !== null) {
        this.statData.forEach((month) => {
          if (month.monthName === this.activeMonth) {
            month.data.forEach((unit) => {
              if (unit.label === this.pieceInfo) {
                if (operation === 0) {
                  unit.price = parseInt(unit.price) + operationCount
                } else if (operation === 1) {
                  if (unit.price > 0) {
                    unit.price = parseInt(unit.price) - operationCount
                  } else {
                    unit.price = 0
                  }
                }
              }
            })
          }
        })
      }

      this.pieceInfo = null
      this.clearStorage()
      if (localStorage.getItem('userData') === null) {
        this.changeStorage('userData', this.statData)
        this.statData = JSON.parse(localStorage.getItem('userData'))
      }
      this.reloadDiagram(this.activeMonth)
    }
  },
  mounted () {
    this.reloadDiagram(this.activeMonth)
    this.statData.forEach((month) => {
      if (month.monthName === this.activeMonth) {
        this.sections = month.data
        this.balance = null
        this.sections.forEach((unit) => {
          this.balance += parseInt(unit.price)
        })
      }
    })
  }
}
</script>
