.home--wrapper {
  position: relative;
  &__description {
    position: relative;
    z-index: 1;
    width: 100%;
    .description--background {
      position: relative;
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      width: 100%;
      height: 360px;
      background: url("/../../../../static/images/photos/Image.png") center 0 no-repeat;
      background-size: cover;
      &:after {
        content: ' ';
        position: absolute;
        z-index: 3;
        background-color: rgba(0,0,0,0.35);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      &__cross-line {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 250px;
        .cross-line__image {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0.5;
        }
      }
    }
    .description--wrapper {
      position: absolute;
      z-index: 10;
      top: 150px;
      left: 0;
      display: flex;
      flex-direction: column;
      padding: 0 20px;
      box-sizing: border-box;
      width: 100%;
      &__heading {
        font-size: 40px;
        font-weight: normal;
        line-height: 1.05;
        color: #fff;
        margin: 0 0 20px 0;
        font-family: LatoLight;
      }
      &__text {
        font-size: 18px;
        color: #fff;
        margin:0 0 20px 0;
        padding-bottom: 20px;
        box-sizing: border-box;
        font-family: LatoLight;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      }
    }
    .description-author--wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 20px;
      &__text {
        font-size: 16px;
        font-family: LatoLight;
        color: #fff;
        margin: 0;
      }
    }
    .description-liked--wrapper {
      display: flex;
      align-items: center;
      width: 100%;
      &__user {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        margin-right: 10px;
      }
      &__counter {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 28px;
        background: #FD51D9;
        border-radius: 15px;
        color: #fff;
        font-size: 14px;
        font-family: LatoLight;
        margin-right: 10px;
      }
      &__text {
        font-size: 14px;
        color: #fff;
        font-family: LatoLight;
        margin: 0;
      }
    }
  }
}
