.statistics--wrapper {
  position: relative;;
  &__info-bar {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 95px;
    .info-bar {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 40px;
      margin-bottom: 20px;
      &--title {
        color: #fff;
        font-family: LatoLight;
        font-size: 18px;
        margin: 0 15px 0 0;
        line-height: 1.5;
      }
      &--icon {
        width: 19px;
        height: 19px;
      }
    }
  }
  &__month-carousel {
    display: flex;
    width: 100%;
    height: 55px;
    background: #0E0F1A;
    margin-top: 10px;
    overflow-y: hidden;
    .month-carousel {
      &--month {
        font-size: 15px;
        color: #fff;
        font-family: LatoLight;
        padding: 20px;
        box-sizing: border-box;
      }
      &--active {
        border-bottom: 3px solid #0B78E3;
        border-radius: 3px;;
      }
    }
  }
  &__diagram {
    margin-top: 30px;
    .diagram--information {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
      .information--cash {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        &__image {
          width: 13px;
          height: 15px;
          margin-right: 10px;
        }
        &__text {
          color: #fff;
          font-family: LatoLight;
          font-size: 18px;
          margin: 0;
          font-weight: bold;
          text-align: center;
        }
      }
      .information--details {
        text-align: center;
        font-size: 14px;
        color: #fff;
        font-family: LatoLight;
        margin: 0;
      }
    }
  }
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    padding: 0 20px;
    box-sizing: border-box;
    margin-top: 10px;
    .buttons--wrapper {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      width: 120px;
      border-radius: 5px;
      color: #fff;
      font-size: 20px;
      font-family: LatoLight;
      font-weight: 500;
      &__add {
        border: 1px solid #0B78E3;
      }
      &__remove {
        border: 1px solid #FF2366;
      }
      &__image {
        position: relative;
        top: 4px;
        left: 3px;
        height: 8px;
        width: 15px;
      }
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}

