<template>
  <div id="app">
    <transition name="slide" mode="out-in">
      <router-view/>
    </transition>
  </div>
</template>

<script>
import LocalStorageMixin from './scripts/localStorageMixin'
export default {
  name: 'App',
  data () {
    return {
      statData: [
        {
          monthName: 'January',
          data: [
            { label: 'For shopping', value: 25, price: '100', color: '#FD3F2F' },
            { label: 'For restaurant', value: 25, price: '100', color: '#FF2366' },
            { label: 'For car', value: 50, price: '200', color: '#6956EC' }
          ]
        },
        {
          monthName: 'February',
          data: [
            { label: 'For shopping', value: 40, price: '200', color: 'red' },
            { label: 'For restaurant', value: 30, price: '150', color: 'yellow' },
            { label: 'For car', value: 30, price: '150', color: 'white' }
          ]
        },
        {
          monthName: 'March',
          data: [
            { label: 'For shopping', value: 20, price: '200', color: 'violet' },
            { label: 'For restaurant', value: 20, price: '200', color: 'green' },
            { label: 'For car', value: 60, price: '600', color: 'red' }
          ]
        },
        {
          monthName: 'April',
          data: [
            { label: 'For shopping', value: 25, price: '150', color: '#FD3F2F' },
            { label: 'For restaurant', value: 25, price: '150', color: '#FF2366' },
            { label: 'For car', value: 50, price: '300', color: '#6956EC' }
          ]
        },
        {
          monthName: 'May',
          data: [
            { label: 'For shopping', value: 10, price: '50', color: '#FD3F2F' },
            { label: 'For restaurant', value: 90, price: '450', color: '#FF2366' }
          ]
        },
        {
          monthName: 'June',
          data: [
            { label: 'For shopping', value: 30, price: '90', color: '#FD3F2F' },
            { label: 'For restaurant', value: 10, price: '30', color: '#FF2366' },
            { label: 'For car', value: 30, price: '90', color: '#6956EC' },
            { label: 'For car', value: 30, price: '90', color: 'white' }
          ]
        },
        {
          monthName: 'July',
          data: [
            { label: 'For shopping', value: 25, price: '100', color: '#FD3F2F' },
            { label: 'For restaurant', value: 25, price: '100', color: '#FF2366' },
            { label: 'For car', value: 50, price: '200', color: '#6956EC' }
          ]
        },
        {
          monthName: 'August',
          data: [
            { label: 'For shopping', value: 25, price: '150', color: '#FD3F2F' },
            { label: 'For restaurant', value: 25, price: '150', color: '#FF2366' },
            { label: 'For car', value: 50, price: '200', color: '#6956EC' }
          ]
        },
        {
          monthName: 'September',
          data: [
            { label: 'For shopping', value: 25, price: '70', color: '#FD3F2F' },
            { label: 'For restaurant', value: 25, price: '70', color: '#FF2366' },
            { label: 'For car', value: 50, price: '140', color: '#6956EC' }
          ]
        },
        {
          monthName: 'October',
          data: [
            { label: 'For shopping', value: 20, price: '100', color: '#FD3F2F' },
            { label: 'For restaurant', value: 40, price: '150', color: '#FF2366' },
            { label: 'For car', value: 40, price: '150', color: '#6956EC' }
          ]
        },
        {
          monthName: 'November',
          data: [
            { label: 'For shopping', value: 20, price: '100', color: '#FD3F2F' },
            { label: 'For restaurant', value: 40, price: '200', color: '#FF2366' },
            { label: 'For car', value: 40, price: '200', color: '#6956EC' }
          ]
        },
        {
          monthName: 'December',
          data: [
            { label: 'For shopping', value: 20, price: '50', color: '#FD3F2F' },
            { label: 'For restaurant', value: 30, price: '150', color: '#FF2366' },
            { label: 'For car', value: 50, price: '250', color: '#6956EC' }
          ]
        }
      ]
    }
  },
  mixins: [LocalStorageMixin],
  beforeMount () {
    if (!localStorage.getItem('userData')) {
      this.changeStorage('userData', this.statData)
    }
  }
}
</script>
